<header>
    <div id="logo"><a href="/">In The Room</a></div>
    <nav>
      <ul id="nav-links">
        <li><a href="/hotels">Browse Hotels</a></li>
        <li><a href="/recommend">Share Hotel</a></li>
        <li><a href="/about">About In The Room</a></li>
      </ul>
    </nav>
  </header>
  