<header class="main__header">
  <div class="logo">
    <a href="/"><strong>Room</strong>Star</a>
  </div>

  <nav>
    <a href="/hotels">Browse Hotels</a>
    <a href="/recommend">Share Hotel</a>
  </nav>
  <div id="hamburger__button">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
<aside id="mobile__menu">
  <nav>
    <a href="/hotels">Browse Hotels</a>
    <a href="/recommend">Share Hotel</a>
  </nav>
</aside>
