<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>

    <main>
      <div class="message">
        <h1>Ooops..Something went wrong</h1>
        <p>
          Unfortunately something went wrong - we're doing our best to fix it as
          quickly as possible!
        </p>
      </div>
    </main>
  </body>
</html>
