<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/hotels.css" />
    
  </head>
  <body>
    <%- include('includes/header') %>

    <main>
      <div class="hotels__list__overview">
        <h2>Hotels reviews</h2>
        <% if (numberHotels === 0){ %>
        <p>
          Unfortunately we have no hotels yet, would you start sharing one?
        </p>
        <button><a href="/recommend">Share</a></button>
      

      <% } else { %>
      <p>Browse reviews of other users!</p>

      <div class="hotels__list">
        <% for (const hotel of hotels){ %> <%- include('includes/hotel-item',
        {hotel: hotel}) %> <% } %>
      </div>
      <% } %>
      </div>
        
    </main>
  </body>
</html>
