<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/hotels.css" />
  </head>
  <body>
    <%- include('includes/header') %>

    <main>
      <h1>Recommended Hotels</h1>
      <% if (numberHotels === 0){ %>
      <p>
        Unfortunately we have no hotels yet, would you start recommending one?
      </p>
      <button class="btn"><a href="/recommend">Share</a></button>
      <% } else { %>
      <p>Browse recommendations of other users!</p>

      <ul id="hotels-list">
        <% for (const hotel of hotels){ %> 
        <%- include('includes/hotel-item', {hotel: hotel}) %> 
        <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
