<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    
      <%- include('includes/header') %>
    
    <main>
      <h1>
        Looking for an <strong>Hotel</strong> or just found one
        <strong>Amazing </strong> ?
      </h1>
      <p>Share your favorite Hotel or Browse recommendations of other users!</p>
      <button class="btn"><a href="/hotels">Browse</a></button>
      <button class="btn"><a href="/recommend">Share</a></button>
    </main>
  </body>
</html>
