strong {
  color: var(--accent-green-30);
}

.intro {
  width: 100%;
  padding: 5% 0;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card__image {
  max-width: 300px;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  padding: 5%;
  max-width: 300px;
}

.hotels__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hotel__item {
  width: 200px;
  background-color: var(--purple-90);
  border: transparent;
  margin: 20px auto;
  padding: 10px;
 
}

.hotel__item h3 {
text-transform: capitalize;
}

.hotel__item a {
  color: var(--accent-green-30);
}

.hotel__detail {
  max-width: 500px;
  background-color: var(--purple-90);
  border: transparent;
  margin: 20px auto;
  padding: 10px;
 
}


.description {
  text-align: justify;
}