strong {
  color: var(--accent-green-30);
}

.intro {
  width: 100%;
  padding-top: 20%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card__content {
  opacity: 0;
  animation: fade-in 2.5s ease-in-out forwards;
}

.card__image {
  animation: slide-right 1.5s ease-in-out forwards;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  padding: 5%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.hotels__list__overview {
  width: 100%;
  padding-top: 20%;
  margin: 3rem auto;
  text-align: center;
}

.hotels__list {
  max-width: 600px;
  margin: 0 auto;
}

.hotel__item {
  width: 200px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--primary-light);
  border: 1px solid var(--primary-gray);
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}

.hotel__item:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.hotel__heading {
  text-transform: capitalize;
  background-color: var(--primary-gray);
  padding-left: 20px;
}

.hotel__content {
  padding-bottom: 20px;
  padding-left: 20px;
}

.hotel__content a {
  color: var(--accent-green-30);
}

.hotel__content a:hover {
  border-bottom: 2px solid var(--accent-green-30);
}

.title {
  font-weight: bold;
}

.hotel__detail {
  max-width: 500px;
  padding: 10%;
  margin: 0 auto;
}

.detail {
  display: flex;
  align-items: center;
  gap: 5px;
}

.description {
  text-align: justify;
}

@media (min-width: 48rem) {
  .hotels__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .hotel__detail {
    padding: 10px;
  }

  .intro {
    padding-top: 5%;
  }
  .hotels__list__overview {
    padding-top: 5%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-80vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}
