form {
  width: 50%;
  margin: auto;
}

button {
  color: var(--primary-light);
}

.form__item {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

label {
  margin-bottom: 5px;
}

input {
  font: inherit;
  padding: 8px 5px;
  border: 1px solid #b4b5b8;
  border-radius: 8px;
}

textarea {
  font: inherit;
  height: 100px;
  resize: none;
  border: 1px solid #b4b5b8;
  border-radius: 8px;
}

select {
  font: inherit;
  margin: 0 10px;
  width: 40px;
  border: 1px solid #b4b5b8;
  border-radius: 8px;
  cursor: pointer;
}

option {
  font: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 48rem) {
  form {
    width: 30%;
    margin: auto;
  }
}
