:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --primary-dark: #30302f;
  --primary-light: #f7f7f5;
  --accent-green-40: #0fd28a;
  --accent-green-30: #00aa6c;
  --purple-90: #f2ecf9;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
}

main {
  width: 80%;
  margin: 1rem auto;
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

a:hover {
  opacity: 0.8;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

section {
  width: 100%;
  padding: 5% 0;
  margin: 2rem auto;
}

button {
  padding: 10px 16px;
  border-radius: 20px;
  border: transparent;
  background-color: var(--accent-green-30);
  transition: background-color 1s linear;
  font: inherit;
  cursor: pointer;
}

button a {
  color: var(--primary-light);
}

button:hover {
  background-color: var(--accent-green-40);
}

.main__header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-90);
}

.main__header nav {
  display: none;
}

.logo {
  margin-left: 1rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

#hamburger__button {
  width: 2rem;
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

#hamburger__button span {
  width: 100%;
  height: 5px;
  margin: 5px auto;
  background-color: #000;
}

#mobile__menu {
  display: none;
}

#mobile__menu.open {
  display: block;
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 5rem);
  background-color: var(--purple-90);
  padding: 5% 0;
}

#mobile__menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mobile__menu a {
  font-size: 1.2rem;
  margin: 2rem auto;
}

@media (min-width: 48rem) {
  #hamburger__button {
    display: none;
  }

  .main__header nav {
    display: block;
  }

  .main__header a {
    margin: 0 2rem;
  }

  #mobile__menu.open {
    display: none;
  }
}
